* {
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;
}
header {
  background-color: rgb(96, 187, 248);
  height: 5rem;
}

.bg-orange {
  background-color: rgb(250, 134, 2);
}

.bg-yellow {
  background-color: rgb(255, 255, 76);
}

.fit-content {
  width: fit-content;
}

@media screen and (max-width: 376px) {
  #headText {
    font-size: 2rem;
  }
}
