* {
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;
}
header {
  background: rgb(235, 129, 0);
  background: linear-gradient(
    90deg,
    rgba(235, 129, 0, 1) 0%,
    rgba(9, 75, 121, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 5rem;
  color: whitesmoke;
}

.bg-orange {
  background-color: rgb(250, 134, 2);
}

.bg-yellow {
  background-color: rgb(255, 255, 76);
}

.fit-content {
  width: fit-content;
}

.card {
  background-color: #8c8c8c;
}

@media screen and (max-width: 376px) {
  #headText {
    font-size: 2rem;
  }
}
